addict==2.4.0
attrdict3==2.0.2
bert_serving==0.0.1
inflect==7.3.1
matplotlib==3.7.1
names==0.3.0
networkx==3.1
numpy==1.24.3
pandas==2.0.2
protobuf==3.20.1
pytorch_pretrained_bert==0.6.2
PyYAML==6.0
sacremoses==0.0.53
scipy==1.10.1
seaborn==0.13.2
torch_spline_conv==1.2.2
tqdm==4.65.0
transformers==3.4.0
wandb==0.15.8